.classpath
.project
.settings
.externalToolBuilders
*.py[co]
*.*~
*\#
*.db
*_old
*.pybundle
*.sublime-workspace
/venv/
/api/_static/
target
.idea/
*.iml
reports/
node_modules/
repo_test_dir
bin
*.iml
.idea
_*.sh
*.local
*.localz
*.zip
*.versionsBackup
*.log
